<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.Project.listner.MyListner</listener-class>
    </listener>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.Project.Servlets.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>com.Project.Servlets.create</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Project.Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Project.Servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Retrive</servlet-name>
        <servlet-class>com.Project.Servlets.Retrive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ByReg</servlet-name>
        <servlet-class>com.Project.Servlets.ByReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectionAjax</servlet-name>
        <servlet-class>com.Project.Ajax.SectionAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.Project.Servlets.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sort</servlet-name>
        <servlet-class>com.Project.SortServlets.sort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginctrl</servlet-name>
        <servlet-class>com.Project.Servlets.Loginctrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Template</servlet-name>
        <servlet-class>com.Project.Servlets.Template</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSubjects</servlet-name>
        <servlet-class>com.Project.Servlets.UploadSubjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultAnalysis</servlet-name>
        <servlet-class>com.Project.Servlets.ResultAnalysis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubShortFormAjax</servlet-name>
        <servlet-class>com.Project.Ajax.SubShortFormAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>com.Project.Servlets.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ByRegUpdate</servlet-name>
        <servlet-class>com.Project.Servlets.ByRegUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>com.Project.Servlets.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <servlet-class>com.Project.Servlets.Result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test2</servlet-name>
        <servlet-class>test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoOfElective</servlet-name>
        <servlet-class>com.Project.Ajax.NoOfElective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchRollNo</servlet-name>
        <servlet-class>com.Project.Servlets.FetchRollNo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateElective</servlet-name>
        <servlet-class>com.Project.Servlets.UpdateElective</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareEmail</servlet-name>
        <servlet-class>com.Project.Servlets.PrepareEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailConfirm</servlet-name>
        <servlet-class>com.Project.Servlets.EmailConfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadRegNo</servlet-name>
        <servlet-class>com.Project.Servlets.UploadRegNo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Retrive</servlet-name>
        <url-pattern>/Retrive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ByReg</servlet-name>
        <url-pattern>/ByReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectionAjax</servlet-name>
        <url-pattern>/SectionAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sort</servlet-name>
        <url-pattern>/sort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginctrl</servlet-name>
        <url-pattern>/Loginctrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Template</servlet-name>
        <url-pattern>/Template</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSubjects</servlet-name>
        <url-pattern>/UploadSubjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultAnalysis</servlet-name>
        <url-pattern>/ResultAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubShortFormAjax</servlet-name>
        <url-pattern>/SubShortFormAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ByRegUpdate</servlet-name>
        <url-pattern>/ByRegUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/Result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test2</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoOfElective</servlet-name>
        <url-pattern>/NoOfElective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchRollNo</servlet-name>
        <url-pattern>/FetchRollNo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateElective</servlet-name>
        <url-pattern>/UpdateElective</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareEmail</servlet-name>
        <url-pattern>/PrepareEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailConfirm</servlet-name>
        <url-pattern>/EmailConfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadRegNo</servlet-name>
        <url-pattern>/UploadRegNo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page> 
        <error-code>404</error-code>
        <location>/Html/404.html</location>
    </error-page>
    <!--  Filter example
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>com.Project.Filter.JspFilter</filter-class>
     </filter>
     <filter-mapping>         
        <filter-name>JspFilter</filter-name>
        <url-pattern>/jsp/*</url-pattern>
     </filter-mapping>
     -->
</web-app>
